* {box-sizing: border-box}
.container {
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 600px;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

.overlay_left {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 20%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.overlay_right {
    position: absolute;
    left: 80%;
    top:0;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 20%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay_left {
    opacity: 1;
}
.container:hover .overlay_right {
    opacity: 1;
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.simple_row {
    padding-left:0.25em;
    padding-bottom:0.25em;
}

.column {
  float: left;
  width: 50%;
  padding-left:0.25em;
  padding-right:0.25em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
    padding-top:0.5em;
    padding-bottom:0.5em;
}
